body {
    background-color: blue;
}

p {
    font-style: oblique;
}

.container {
    padding: 10px;
    text-align: justify;
    width: 300px;
}

.image {
    float: left;
    width: 100px;
    height: 100px;
}
